* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

.ui {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 26px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.btn {
    background-color: rgba(199, 199, 199, 0.678);
    width: auto;
    padding: 4px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;/
}

.btn:nth-child(1) {
    grid-column: 2/4;
}

.btn:last-child,
.btn:nth-child(3) {
    grid-column: 3/4;
}

.btn:nth-child(4) {
    grid-column: 2/4;
}